In [1]:
!pip install ipynb

Requirement already satisfied: ipynb in c:\users\anjlika sahu\anaconda3\lib\site-packages (0.5.1)

In [1]:
from ipynb.fs.full.Plot_AQI import avg_data_2013,avg_data_2014,avg_data_2015,avg_data_2016

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
import os
import time
import requests
import sys
import csv

In [4]:
def retrieve_html():
    for year in range(2013 , 2020):
        for month in range(1,13):
            
            if (month<10):
                
                url="https://en.tutiempo.net/climate/0{}-{}/ws-432950.html".format(month,year)
            else:
                 url="https://en.tutiempo.net/climate/{}-{}/ws-432950.html".format(month,year)
            texts=requests.get(url)
            text_utf=texts.text.encode('utf=8')

            if not os.path.exists("Data/Html_Data/{}".format(year)):
                os.makedirs("Data/Html_Data/{}".format(year))
            with open("Data/Html_Data/{}/{}.html".format(year,month) , "wb") as op:
                op.write(text_utf)
        
        sys.stdout.flush()
    
if __name__=="__main__":
    start_time=time.time()
    retrieve_html()
    stop_time=time.time()
    print("time taken {}".format(stop_time-start_time))

time taken 158.0266613960266

In [5]:
def met_data(month, year):
    
    file_html = open('Data/Html_Data/{}/{}.html'.format(year,month), 'rb')
    plain_text = file_html.read()

    tempD = []
    finalD = []

    soup = BeautifulSoup(plain_text, "lxml")
    for table in soup.findAll('table', {'class': 'medias mensuales numspan'}):
        for tbody in table:
            for tr in tbody:
                a = tr.get_text()
                tempD.append(a)

    rows = len(tempD) / 15

    for times in range(round(rows)):
        newtempD = []
        for i in range(15):
            newtempD.append(tempD[0])
            tempD.pop(0)
        finalD.append(newtempD)

    length = len(finalD)

    finalD.pop(length - 1)
    finalD.pop(0)

    for a in range(len(finalD)):
        finalD[a].pop(6)
        finalD[a].pop(13)
        finalD[a].pop(12)
        finalD[a].pop(11)
        finalD[a].pop(10)
        finalD[a].pop(9)
        finalD[a].pop(0)

    return finalD

def data_combine(year, cs):
    for a in pd.read_csv('Data/Real_Data/real_' + str(year) + '.csv', chunksize=cs):
        df = pd.DataFrame(data=a)
        mylist = df.values.tolist()
    return mylist


if __name__ == "__main__":
    if not os.path.exists("Data/Real_Data"):
        os.makedirs("Data/Real_Data")
    for year in range(2013, 2017):
        final_data = []
        with open('Data/Real_Data/real_' + str(year) + '.csv', 'w') as csvfile:
            wr = csv.writer(csvfile, dialect='excel')
            wr.writerow(
                ['T', 'TM', 'Tm', 'SLP', 'H', 'VV', 'V', 'VM', 'PM 2.5'])
        for month in range(1, 13):
            temp = met_data(month, year)
            final_data = final_data + temp
            
        pm = getattr(sys.modules[__name__], 'avg_data_{}'.format(year))()

        if len(pm) == 364:
            pm.insert(364, '-')

        for i in range(len(final_data)-1):
            # final[i].insert(0, i + 1)
            final_data[i].insert(8, pm[i])

        with open('Data/Real_Data/real_' + str(year) + '.csv', 'a') as csvfile:
            wr = csv.writer(csvfile, dialect='excel')
            for row in final_data:
                flag = 0
                for elem in row:
                    if elem == "" or elem == "-":
                        flag = 1
                if flag != 1:
                    wr.writerow(row)
                    
    data_2013 = data_combine(2013, 600)
    data_2014 = data_combine(2014, 600)
    data_2015 = data_combine(2015, 600)
    data_2016 = data_combine(2016, 600)
    
     
    total=data_2013+data_2014+data_2015+data_2016
    
    with open('Data/Real_Data/Real_Combine.csv', 'w') as csvfile:
        wr = csv.writer(csvfile, dialect='excel')
        wr.writerow(
            ['T', 'TM', 'Tm', 'SLP', 'H', 'VV', 'V', 'VM', 'PM 2.5'])
        wr.writerows(total)

In [7]:
df=pd.read_csv('Data/Real-Data/Real_Combine.csv')
df.dropna(inplace=True)
df

         T    TM    Tm     SLP     H   VV     V    VM      PM 2.5
1      7.4   9.8   4.8  1017.6  93.0  0.5   4.3   9.4  219.720833
3      7.8  12.7   4.4  1018.5  87.0  0.6   4.4  11.1  182.187500
5      6.7  13.4   2.4  1019.4  82.0  0.6   4.8  11.1  154.037500
7      8.6  15.5   3.3  1018.7  72.0  0.8   8.1  20.6  223.208333
9     12.4  20.9   4.4  1017.3  61.0  1.3   8.7  22.2  200.645833
...    ...   ...   ...     ...   ...  ...   ...   ...         ...
2177  18.1  24.0  11.2  1015.4  56.0  1.8  15.9  25.9  288.416667
2179  17.8  25.0  10.7  1015.8  54.0  2.3   9.4  22.2  256.833333
2181  13.9  24.5  11.4  1015.0  95.0  0.6   8.7  14.8  169.000000
2183  16.3  23.0   9.8  1016.9  78.0  1.1   7.4  16.5  186.041667
2185  16.3  23.4   9.0  1017.3  68.0  1.3   7.8  18.3  185.583333

[1092 rows x 9 columns]